/* background fixed*/
#back1{
    height: 500px;
    overflow: auto;
    border: 1px solid blue;
    color: darkblue;

    background-image: url('images/back1.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



/* scrollable background */
#back2{
    height: 500px;
    overflow: auto;
    border: 1px solid blue;
    color: darkblue;


    background-image: url('images/back1.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

/* visibility, display */
.elms div{
    height: 250px;
    width: 30%;
    display: inline-block;
    box-shadow: 10px 10px 6px -6px #777;
}

#vis2{
    visibility: hidden;
}

#disp2{
    display: none;
}

/* text formatting */
#textformat{
    height: 500px;
    overflow: auto;

    background-image: url('images/back1.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    /* text formatting properties */
    color: #1a1aff;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;

    font-weight: bold;
    font-size: italic;
    font-size: 120%;
    font-family: 'Fondamento', cursive;
}
